html, body {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}